<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	{{!-- Styles - Normalize styles first for cross-browser consistency --}}
	<link rel="stylesheet" href="/assets/css/normalize.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	{{!-- Title & Icon --}}
	<title>Eat-da-Burgers!</title>
	<link rel="shortcut icon" href="/assets/images/burger.png" type="image/x-icon">

	{{!-- jQuery link --}}
	<script src="https://code.jquery.com/jquery.js"></script>

	{{!-- Bootstrap --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	{{!-- Javascript --}}
	<script src="/assets/js/app.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>