<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="text-center "><img class="logo-img" src="/assets/images/burger.png" alt="hamburger">&nbsp;Welcome to
      Eat-Da-Burger!
    </h1>
    <div class="text-center">
      <p class="text-left">
        Submit your order in the entry box below to see it in the "Orders" list. Click the 'Devour it" button to move it
        to the "Devoured" column. All orders and their status are stored in a database so you can see them on future
        visits.
      </p>
      <form class="create-form">
        <span class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name" pattern="[\w]+[\w\s]*"
            title="only letters, numbers and spaces allowed">
          &nbsp;
          <button class="btn btn-success btn-sm" type="submit">Add Burger</button>
          &nbsp;
          <div id="error-msg" class="text-danger"></div>
        </span>

      </form>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-left">Burgers</h2>
        <ul>
          {{#each burgers}}
          {{#unless eaten}}
          {{> burgers/burger-block sleep=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col-md-6">
        <h2 class="text-left">Devoured!</h2>
        <ul>
          {{#each burgers}}
          {{#if eaten}}
          {{> burgers/burger-block sleep=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div> <!-- row -->
  </div> <!-- jumbotron -->
</div> <!-- container -->