/* Elements */
body {
  overflow-y: scroll;
  padding-top: 10px;
  margin: 0;
  font-family: 'Dancing Script', cursive;
  background-color: wheat;
  background: url("/assets/images/diner.jpg");
  background-size: cover;
}

li {
  padding: 5px;
  margin: 5px;
}

ul {
  list-style-type: none;
}

/* Classes */
.burger-img {
  max-width: 65px;
  height: auto;
}
.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.eaten-img {
  max-width: 50px;
  height: auto;
}

.form-group {
  margin-bottom: 5px;
}

.label {
  font-weight: bold;
}

.logo-img {
  max-width: 100px;
  height: auto;
}