/* Elements */
body {
	overflow-y: scroll;
	padding-top: 1rem;
	background-color: wheat;
	background: url("/assets/images/diner.jpg");
	background-size: cover;
}

li {
	margin-top: 1rem;
}

/* Classes */
.burger-img,
.yummy-img {
	max-width: 50px;
	height: auto;
}

.logo-img {
	max-width: 125px;
	height: auto;
}
