<li>
	{{#if newOrder}}
	<button class="btn btn-success btn-sm change-status" data-id="{{id}}" data-state="{{newOrder}}">
		Devour it!
	</button>
	<img class="burger-img" src="/assets/images/burger.png" alt="hamburger">
	{{else}}
	<img class="yummy-img" src="/assets/images/yummy.png" alt="yummy emotocon">
	{{/if}}
	&nbsp; {{name}} &nbsp;
</li>